fastapi
python-multipart
uvicorn==0.24.0
pydantic[email]==2.5.2
pydantic-settings==2.1.0
supabase
python-dotenv==1.0.0
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==3.2.2
fastapi
python-multipart
uvicorn
pydantic[email]
pydantic-settings
supabase
python-dotenv
python-jose[cryptography]
passlib
bcrypt
